---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import Card from '../../components/Card.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);



---

<BaseLayout title="Cozy Game Corner: Blog">
	<div class="container mx-auto px-4 py-8">
		<h1 class="text-3xl font-bold mb-4">Blog</h1>
		<p class="text-gray-600 mb-6">Welcome to the Cozy Game Corner blog, where we share our thoughts and updates on cozy games.</p>

		<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{posts.map((post) => (
				<li class="mb-4">
					<Card href={`/blog/${post.slug}`} title={post.data.title}>
						<p class="text-gray-700">{post.data.description}</p>
						<p class="text-sm text-gray-500">{post.data.pubDate.toLocaleDateString()}</p>
					</Card>
				</li>
			))}
		</ul>
	</div>
</BaseLayout>
